<div class="container">
    <div class="row">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 book-form">
            <h1 class="form-title">Edit Book</h1>
            <form #form="ngForm" (ngSubmit)="updateBook()" class="form-content">
                <div class="mb-3 mt-3 d-none">
                    <label for="bookid" class="form-label">BookId</label>
                    <input type="text" class="form-control" id="bookid" readonly 
                    name="id" [(ngModel)]="bookDetails.bookId"> <!-- Data binding form values -->
                </div>
                <div class="mb-3 mt-3 d-flex">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" 
                    name="title" [(ngModel)]="bookDetails.title">
                </div>
                <div class="mb-3 d-flex">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" class="form-control" id="author" 
                    name="author" [(ngModel)]="bookDetails.author">
                </div>
                <div class="mb-3 d-flex">
                    <label for="genre" class="form-label">Genre</label>
                    <input type="text" class="form-control" id="genre" 
                    name="genre" [(ngModel)]="bookDetails.genre">
                </div>
                <div class="mb-3 d-flex">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" class="form-control" id="image" placeholder="http://...." 
                    name="image" [(ngModel)]="bookDetails.imageUrl">
                </div>
                <div class="mb-4 d-flex">
                    <label for="published" class="form-label">Published</label>
                    <input type="date" class="form-control" id="published" 
                    name="published" [(ngModel)]="bookDetails.publicationDate">
                </div>
                <div class="d-flex justify-content-evenly">
                    <button type="submit" class="btn edit-form-btn">Save</button>
                    <a class="btn edit-form-btn" routerLink="/">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>