<div class="container">
    <div class="row">
        <div class="col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4 book-form">
            <h1 class="form-title">Create a new book</h1>
            <form #form="ngForm" (ngSubmit)="createBook()" class="form-content">
                <div class="mb-3 mt-3 d-flex">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" 
                    name="title" [(ngModel)]="createBookRequest.title"> <!-- Data binding form values -->
                </div>
                <div class="mb-3 d-flex">
                    <label for="author" class="form-label">Author</label>
                    <input type="text" class="form-control" id="author" 
                    name="author" [(ngModel)]="createBookRequest.author">
                </div>
                <div class="mb-3 d-flex">
                    <label for="genre" class="form-label">Genre</label>
                    <input type="text" class="form-control" id="genre" 
                    name="genre" [(ngModel)]="createBookRequest.genre">
                </div>
                <div class="mb-3 d-flex">
                    <label for="image" class="form-label">Image</label>
                    <input type="text" class="form-control" id="image" placeholder="http://...." 
                    name="image" [(ngModel)]="createBookRequest.imageUrl">
                </div>
                <div class="mb-4 d-flex">
                    <label for="published" class="form-label">Published</label>
                    <input type="date" class="form-control" id="published" 
                    name="published" [(ngModel)]="createBookRequest.publicationDate">
                </div>
                <div class="text-center">
                    <button type="submit" class="btn form-create-btn">Enter</button>
                </div>
            </form>
        </div>
    </div>
</div>